<header>
    <nav class="dropdown-menu">
        <ul>
          <li>
            <a href="#"
              ><img
                src="../assets/img/ícone-três-traços.png"
                alt="ícone três traços"
            /></a>
            <ul>
              <li><a href="/"> Inicio </a></li>
              <li><a href="/criar"> Cadastro </a></li>
            </ul>
          </li>
        </ul>
        <h1>Shinobi Sekai</h1>
      </nav>

      <div>
        <img src="../assets/img/banner-do-naruto.jpg" alt="" id="banner" />
      </div>
</header>